{% extends 'base.html' %}
{% load static %}
{%block title %} Projects {% endblock title %}
{% block projectsactive %} active {% endblock projectsactive %}
{% block body %}
<div class="pp">
    <h1 class="effect"><em>So</em>me&#9<em>Aw</em>esome&#9<em>Ja</em>va&#9<em>Pr</em>ojects!</h1>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="card shadow mx-auto" style="width: 12rem;">
                <div class="inner">
                    <img class="card-img-top" src="{% static 'images/tic tac toe.png' %}" alt="Card image cap">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card .</p>
                    <a href="#" class="btn btn-success">view more...</a>
                </div>
            </div>
        </div>






    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
{%endblock body %}