{% extends 'base.html' %}

{% block title %} about {% endblock title %}
{% load static %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<div class="conatiner my-3">
  <h1 class="text-center font-weight-bold">About Nano Coders</h1>
</div>

<div class="container my-6 ">
  
    <li class="media my-4">
      <img src="{%static 'images/blogs2.jpg'%}" class="mr-3 mt-4" alt="...">
      <div class="media-body">
        <h5 class="mt-5 mb-1">About Blogs</h5>
       <p> Our website NANO CODERS provides a lot of blogs for you and also allow you to write your own blog here .
        Blogs on this website contains a lot of stuff which helps you a lot in your learning.Mainly blogs content are coding and tech .
        And we insure that these blogs will give you complete information regarding your issues and not missguide  you in any case.
        </p>
      </div>
    </li>
    
</div>
    <div class="container my-5">
    <li class="media my-4">
      <img src="{%static 'images/Tutorials.png'%}" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-5 mb-1">About Tutorials</h5>
        <p>
          This website contains a lot of tutorials/documentatios of various topics like python, java,c++,css.... and many more .
          These tutorials gives you complete information regarding the topic that the tutorials contains and you feels that  these are best among all that you faceup till now.
          content of tutorials is reliable and useful .
        </p>
      </div>
    </li>
  
    </div>
  <div class="container my-5">
    <li class="media">
      <img src="{%static 'images/projects.jpg'%}" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-5 mb-1">About Projects</h5>
        <p>
          The most amazing thing of this website is that it contains a lot of projects on different topics like on python,java... and many more and one more amazing thing is that project also contains {soure code} of project which helps you a lot if you facing any problem in any project.
        </p>
      </div>
    </li>
  
  </div>
  <div class="container my-5">
    <li class="media">
      <img src="{%static 'images/shop.jpg'%}" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-5 mb-1">About Shop</h5>
        <p>
          In the shop section of our website  gives a list of top 10 laptops for coding and give complete information regarding laptops .Link is also available through which you can go and buy laptop .
        </p>
      </div>
    </li>
  
  </div>
  <div class="container my-5">
    <li class="media">
      <img src="{%static 'images/tools.jpg'%}" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-5 mb-1">About Tools</h5>
        <p>
         It contains a lot of tools for you which helps you a lot to solve your problem like  different calculators ,youtube videodownloader... and many more .
        </p>
      </div>
    </li>
  
  </div>

{% endblock body %}


