{% extends 'base.html' %}
{% block queryactive %} active {% endblock queryactive %}
{% load static %}
{% block body %}
 <div class="container-fluid">
    <div class="row">
<div class="pp col-12 text-center">
  <h1 class="effect"><em>Tuto</em>rials&#9<em>Jun</em>ction&#9</h1>
</div>
    </div>
</div>

<div class="container-fluid">
<div class="row">
  <div class="col-lg-6 col-12">
    <div class="card pre" style="width:80%;">
      <img src="{% static 'images/dirty data.png' %}" class="card-img-top" style="border-radius: 3%;"alt="...">
      <div class="card-body">
        <div class="card-footer">
        <small class="text-muted"><h1><a href="/query/preprocessing">Data Preprocessing</a></h1></small>
      </div>
    </div>
  </div>    
  </div>

  <div class="col-lg-6 col-12">
    <div class="card pre" style="width:80%;">
      <img src="{% static 'images/dirty data.png' %}" class="card-img-top" style="border-radius: 3%;"alt="...">
      <div class="card-body">
        <div class="card-footer">
        <small class="text-muted"><h1><a href="/query/introduction">Python</a></h1></small>
      </div>
    </div>
  </div>    
  </div>   

    <div class="col-lg-6 col-12">
    <div class="card pre" style="width:80%;">
      
        <img src="{% static 'images/dirty data.png' %}" class="card-img-top" style="border-radius: 3%;"alt="...">
        <div class="card-body">
          <div class="card-footer">
          <small class="text-muted"><h1><a href="/query/preprocessing">Machine Learning</a></h1></small>
        </div>
      </div>
    </div>    
    </div>

    <div class="col-lg-6 col-12">
      <div class="card pre" style="width:80%;">
        <img src="{% static 'images/dirty data.png' %}" class="card-img-top" style="border-radius: 3%;"alt="...">
        <div class="card-body">
          <div class="card-footer">
          <small class="text-muted"><h1><a href="/query/preprocessing">Deep Learning</a></h1></small>
        </div>
      </div>
    </div>    
    </div>
  


</div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
 
 
{% endblock %}