{% extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock title %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
    <style> 
  @media screen and (max-width: 768px) {
            
            #sidebar{
              margin-top:-720px;
            }
  </style> 

  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper" id="top">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>PYTHON</h3>
    </div>
    <ul class="lisst-unstyled components">
      <li class="">
        <a href="/query/introduction">INTRODUCTION </a>
      </li>
      <li class="">
        <a href="/query/pvariables">VARIABLES</a>
      </li>
      <li class="">
        <a href="/query/ptype">TYPE CONVERSION</a>
      </li>
      <li class="">
        <a href="/query/poperators">OPERATORS</a>
      </li>
      <li class="">
        <a href="/query/pconditional">CONDITIONAL STATEMENTS</a>
      </li>
      <li class="">
        <a href="/query/ploop">LOOPS</a>
      </li>
      <li class="active">
        <a href="/query/pinput">INPUT</a>
      </li>
      <li class="">
        <a href="/query/pstring">STRING</a>
      </li>
      <li class="">
        <a href="/query/plist">LIST</a>
      </li>
      <li class="">
        <a href="/query/pdictonary">DICTONARY</a>
      </li>
      <li class="">
        <a href="/query/ptuples">TUPLES</a>
      </li>
      <li class="">
        <a href="/query/pset">SET</a>
      </li>
      <li class="">
        <a href="/query/pfunctions">FUNCTIONS</a>
      </li>
      
    </ul>
  </nav>
<div class="content" data-spy="scroll" data-target="#sidebar" data-offset="0">
  <nav class="navbar navbar-expand lg navbar-light">
    <div class="container">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-right"></i>
        <span class="align-right">Contents</span>
        </button>
    </div>
  </nav>
<!-- <img src="{% static 'images/Dirty Data.png' %}"> -->
<center><h1><heading>USER INPUT IN PYTHON <heading></h1></center>
<hr>
<br>
<h5>We can instruct python to pause and read data from the user using the <b> input()</b> function.</h5>
<br>
<h5>The <b> input()</b> function returns a <b>'string'</b>.</h5>
<br>
<h5>Single cote or double cote both work in <b>input()</b> function.</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>name=input("who are you ?")</h5>
<h5>print('welcome',name)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Who are you ?</h5>
    <h5><b> user give input as I give <b> nano coder</b></b></h5>
    <h5>welcome nano coder</h5>
    </p>
  </div>
</div>
</div>
<br>
<h2>Converting User Input</h2>
<hr>
<br>
<h5>If we want to read a number  from the user . We must convert it from a string to a number using a type conversion function.</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=input('enter first number')</h5>
<h5>a=int(x)</h5>
<h5>y=input('enter second number')</h5>
<h5>b=int(y)</h5>
<h5>z=a+b</h5>
<h5>print(z)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Enter first number 10</h5>
    <h5>Enter second number 12</h5>
    <h5>22</h5>
    </p>
  </div>
</div>
</div>
<br>
<h3>Another way</h3>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=int(input('Enter first number')) </h5>
<h5>y=int(input('Enter second number'))</h5>
<h5>z=x+y</h5>
<h5>print(z)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Enter first number 10</h5>
    <h5>Enter second number 12</h5>
    <h5>22</h5>
    </p>
  </div>
</div>
</div>
<br>
<hr>
<h2>Methods of taking multiple inputs</h2>
<hr>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 1<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x,y,z=input(),input(),input()</h5>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 2<h3>
   <h4>Using list comphrension</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x,y,z=[int(x) for x in input().split()]</h5>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 3<h3>
   <h4>Using map function</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x,y,z=map(int,input().split())</h5>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 4<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x,y=input('Enter two characters seprated by space').split()</h5>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 5<h3>
   <h4>Using loop</h4>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=input('Enter the total no:')</h5>
<h5>for i in range(x)</h5>
<h5>input()</h5>
  </div>
</div>
</div>
</div>


<ul class="arrow">
    <a href="/query/preprocessing"><li class="prev"><span></span></li></a>
    <a href="/query/steps"><li class="next"><span></span></li></a>
</ul>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script>
      $(document).ready(function(){
      $("#sidebarCollapse").on('click',function(){
        setTimeout(function(){
      $("#sidebar").toggleClass('active');
    },500);
  });
       });
      $('#sidebar ul li').on('click', function () {
             $('#sidebar ul .active').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    {%endblock body %}