{% extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock title %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
    <style> 
  @media screen and (max-width: 768px) {
            
            #sidebar{
              margin-top:-720px;
            }
          }
          .arrow{
              bottom:-700%;
            }
          #sidebar{
              height: 1826vh;
            }
            div.content{
              padding-bottom:80vh!important;
            }
  </style> 

  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper" id="top">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>PYTHON</h3>
    </div>
    <ul class="lisst-unstyled components">
      <li class="">
        <a href="/query/introduction">INTRODUCTION </a>
      </li>
      <li class="">
        <a href="/query/pvariables">VARIABLES</a>
      </li>
      <li class="">
        <a href="/query/ptype">TYPE CONVERSION</a>
      </li>
      <li class="">
        <a href="/query/poperators">OPERATORS</a>
      </li>
      <li class="">
        <a href="/query/pconditional">CONDITIONAL STATEMENTS</a>
      </li>
      <li class="">
        <a href="/query/ploop">LOOPS</a>
      </li>
      <li class="">
        <a href="/query/pinput">INPUT</a>
      </li>
      <li class="">
        <a href="/query/pstring">STRING</a>
      </li>
      <li class="active">
        <a href="/query/plist">LIST</a>
      </li>
      <li class="">
        <a href="/query/pdictonary">DICTONARY</a>
      </li>
      <li class="">
        <a href="/query/ptuples">TUPLES</a>
      </li>
      <li class="">
        <a href="/query/pset">SET</a>
      </li>
      <li class="">
        <a href="/query/pfunctions">FUNCTIONS</a>
      </li>
      
    </ul>
  </nav>

<div class="content" data-spy="scroll" data-target="#sidebar" data-offset="0">
  <nav class="navbar navbar-expand lg navbar-light">
    <div class="container">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-right"></i>
        <span class="align-right">Contents</span>
        </button>
    </div>
  </nav>
<!-- <img src="{% static 'images/Dirty Data.png' %}"> -->
<center><h1><heading>LIST<heading></h1></center>
<hr>
<br>
<ul>
<li><h5>A list is a kind of collection</h5></li>
<br>
<li><h5>A collection allows us to put many values of same or different types in a single variavle.<h5></li>
<br>
<li><h5>A collection is good because we can carry many values around in one convenient package.<h5></li>
</ul>
<br>
<h2>LIST CONSTANTS</h2>
<hr>
<li><h5> List constants are surrounded by square brackets and the elements in the list are seperated by commas.</h5></li>
<br>
<li><h5>A list element cna be any pyton  object, ever another list.</h5></li>
<br>
<li><h5>A list can be empty.</h5></li>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>>>>print([1,24,76])</h5>
<h5>[1,24,76]</h5>
<h5>>>>print(['red','yellow','green'])</h5>
<h5>['red','yellow','green']</h5>
<h5>>>>print(['red',1,2])</h5>
<h5>['red',1,2]</h5>
<h5>>>>print([1,[5,6],7])</h5>
<h5>[1,[5,6],7]</h5>
<h5>>>>print([])</h5>
<h5>[]</h5>

  </div>
  </div>
<h2>Looking Inside lists</h2>
<hr>
<h5>Just like string , we can get at any single element in a lsit using an index specified in square bracket.</h5>
<img src=" ">
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>>>>nums=[25,12,34,95,14]</h5>
    <h5>>>>nums[4]</h5>
    <h5> 14</h5>
    <h5>>>>nums[-2]</h5>
    <h5>95</h5>
    </p>
</div>
</div>
<br>
<h2>List can be sliced</h2>
<hr>
<h5>The second number is upto but not including</h5>
<img src="">
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>>>>nums[1:3]</h5>
    <h5>[12,26]</h5>
    <h5>>>> nums[2:]</h5>
    <h5>[34,95,14]</h5>
    </p>
    </div>
    </div>
    <br>
    <h2>Lists are <b>Mutable</b></h2>
    <hr>
    <br>
    <h5>String are <b>"Immutable"</b>- we cannot change the contents ofn a string , we must make a new string to amke any changes.</h5>
    <br>
    <h5>Lists are <b>"Mutable"</b>.We can change any element of a lsit using the index operator.</h5>
    <div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>>>>fruit="banana"</h5>
    <h5>>>>fruit[0]='c'</h5>
    <h5><b>Traceback</b></h5>
    <h5>>>>nums=[2,14,16,41,63]</h5>
    <h5>>>>print(nums)</h5>
    <h5>[2,14,16,41,63]</h5>
    <h5>>>>nums[1]=4</h5>
    <h5>>>>print(nums)</h5>
    <h5>[2,4,26,41,63]</h5>
    </p>
    </div>
    </div>
    <br>
<h2>Concatenating list using <b> + </b>/ Joining lists</h2>
<hr>
<h5>We can create a new list by adding two existing lists together.</h5>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>>>>a=[1,2,3]</h5>
    <h5>>>>b=[4,5,6]</h5>
    <h5>>>>c=a+b</h5>
    <h5>>>>print(c)</h5>
    <h5>[1,2,3,4,5,6]</h5>
    <h5>print(a)</h5>
    <h5>[1,2,3]</h5>
    </p>
    </div>
    </div>    
    <br>
  <h3>Another way for joining two lists</h3>
  <div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>>>.c=[a,b]  </h5>
    <h5>[1,2,3,4,5,6]</h5>
    </p>
    </div>
    </div>
    <br>
<h2>Different operations of list</h3>
<hr>
<br>
<h3><b>1. append<b></h3>
<h5>To add a new value in a list.</h5>
<h5>The list stays in order and new element are added at the end of the list.</h5>
<br>
<h3>Syntax - <h5>list.append(element)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">element</th>
      <td>element which is added to the list </td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,2,3,4]</h5>
<h5>nums.append(6)</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text"><h5>[1,2,3,4,6]</h5></p>
  </div>
</div>
</div>
<br> 
<h3><b>2. insert()<b></h3>
<h5>To add value but different from append that we can add at any place in a list using <b>insert()</b>.</h5>
<br>
<h3>Syntax - <h5>list.insert(position,element)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">position</th>
      <td>Required. A number specifying in which position to insert the value</td>
    </tr>
    <tr>
      <th scope="row">element</th>
      <td>	Required. An element of any type (string, number, object etc.)
</td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,2,3,4]</h5>
<h5>nums.insert(2,6)</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[1,2,6,3,4]</p>
  </div>
</div>
</div>
<br>
<h3><b>3. clear()<b></h3>
<h5>This function is use to remove all the elements from the list.</h5>
<br>
<h3>Syntax - <h5>list.clear()</h5></h3>
<h4>Parameter Values</h4>
<br>
<h5>NO parameter require</h5>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,2,3,4]</h5>
<h5>nums.clear()</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[]</p>
  </div>
</div>
</div>
<br>
<h3><b>4. remove()<b></h3>
<h5>This function is use to remove the specific element from the list.</h5>
<br>
<h3>Syntax - <h5>list.remove(element)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">element</th>
      <td>	Required. Any type (string, number, list etc.) The element you want to remove</td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,5,2,3,4]</h5>
<h5>nums.remove(2)</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[1,5,3,4]</p>
  </div>
</div>
</div>
<br>
<h3><b>5. pop()<b></h3>
<h5>This function removes the element at the specified position.</h5>
<br>
<h3>Syntax - <h5>list.remove(position)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">position</th>
      <td>Optional. A number specifying the position of the element you want to remove, default value is -1, which returns the last item</td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example 1<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,5,2,3,4]</h5>
<h5>nums.pop(1)</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[1,2,3,4]</p>
  </div>
</div>
</div>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 2<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,5,2,3,4]</h5>
<h5>nums.pop()</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[1,5,2,3]</p>
  </div>
</div>
</div>
<br>
<h3><b>6. del()<b></h3>
<h5>This function is use to delete a group of elements.</h5>
<br>
<h3>Syntax - <h5>del list[start:count]</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">start</th>
      <td>Required. starting position from which elements are delete</td>
    </tr>
    <tr>
      <th scope="row">count</th>
      <td>Required. how many elements you want to delete from that position</td>
    </tr>
  </tbody>
</table>
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[1,5,2,3,6,7,4]</h5>
<h5>del nums[2:2]</h5>
<h5>print(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">[1,5,6,7,4]</p>
  </div>
</div>
</div>
<br>
<h3><b>8. min()<b></h3>
<h5>This function will use to find the minimum value from the list.</h5>
<br>
<h3>Syntax - <h5>min(list)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">list</th>
      <td>Required. giving a list </td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>nums=[5,2,3,6,7,4]</h5>
<h5>min(nums)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">2</p>
  </div>
</div>
</div>
<br>
<h3><b>9. max()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
<h3><b>10. len()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
<h3><b>11. reverse()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
<h3><b>12. count()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
<h3><b>13. index()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>  
<h3><b>14. sum()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
<h3><b>15. sort()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>s="Nano coder"</h5>
<h5>x=s.upper()</h5>
<h5>print(x)</h5>
  </div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">NANO CODER</p>
  </div>
</div>
</div>
<br>
</div>


<ul class="arrow">
    <a href="/query/preprocessing"><li class="prev"><span></span></li></a>
    <a href="/query/steps"><li class="next"><span></span></li></a>
</ul>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script>
      $(document).ready(function(){
      $("#sidebarCollapse").on('click',function(){
        setTimeout(function(){
      $("#sidebar").toggleClass('active');
    },500);
  });
       });
      $('#sidebar ul li').on('click', function () {
             $('#sidebar ul .active').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    {%endblock body %}