{% extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock title %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
    <style> 
  @media screen and (max-width: 768px) {
            
            #sidebar{
              margin-top:-720px;
            }

  </style> 

  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper" id="top">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>PYTHON</h3>
    </div>
    <ul class="lisst-unstyled components">
      <li class="">
        <a href="/query/introduction">INTRODUCTION </a>
      </li>
      <li class="">
        <a href="/query/pvariables">VARIABLES</a>
      </li>
      <li class="">
        <a href="/query/ptype">TYPE CONVERSION</a>
      </li>
      <li class="">
        <a href="/query/poperators">OPERATORS</a>
      </li>
      <li class="">
        <a href="/query/pconditional">CONDITIONAL STATEMENTS</a>
      </li>
      <li class="active">
        <a href="/query/ploop">LOOPS</a>
      </li>
      <li class="">
        <a href="/query/pinput">INPUT</a>
      </li>
      <li class="">
        <a href="/query/pstring">STRING</a>
      </li>
      <li class="">
        <a href="/query/plist">LIST</a>
      </li>
      <li class="">
        <a href="/query/pdictonary">DICTONARY</a>
      </li>
      <li class="">
        <a href="/query/ptuples">TUPLES</a>
      </li>
      <li class="">
        <a href="/query/pset">SET</a>
      </li>
      <li class="">
        <a href="/query/pfunctions">FUNCTIONS</a>
      </li>
      
    </ul>
  </nav>
<div class="content" data-spy="scroll" data-target="#sidebar" data-offset="0">
  <nav class="navbar navbar-expand lg navbar-light">
    <div class="container">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-right"></i>
        <span class="align-right">Contents</span>
        </button>
    </div>
  </nav>
<!-- <img src="{% static 'images/Dirty Data.png' %}"> -->
<center><h1><heading>LOOPS<heading></h1></center>
<hr>
<br>
<h5>Use for repeate a particular piece of statement in our program.</h5>
<br>
<hr>
<h2>1. <b> while loop</b></h2>
<hr>
<br>
<h5>While loop for certain reteration or conditions</h5>
<br>
<h5>In while loop we require <b>'indentation'</b>.</h5>
<br>
<h4>Steps</h4>
<h5>1. Take a conter or variable</h5>
<h5>2. Check the given condition</h5>
<h5>3. Increment the value</h5>
<br>
<h4>Syntax -</h4>
<h5> while <span>condition</span>:</h5>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>i=1</h5>
<h5>while i<=5:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('Nanocoder')</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i=i+1</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Nanocoder</h5>
    <h5>Nanocoder</h5>
    <h5>Nanocoder</h5>
    <h5>Nanocoder</h5>
    <h5>Nanocoder</h5>
    </p>
  </div>
</div>
</div>
<br>
<hr>
<h2>Nested while loop</h2>
<hr>
<br>
<h5>Nested loop means a loop statement inside another loop statement.</h5>
<br>
<h5>For nested while loop we require different variables for every loop.</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>i=1</h5>
<h5>while i<=3:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('Nanocoder',end=" ")</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j=1</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;while j<=2:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print("rocks",end=" ")</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;j=j+1</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i=i+1</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print()</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Nanocoder rocks rocks</h5>
    <h5>Nanocoder rocks rocks</h5>
    <h5>Nanocoder rocks rocks</h5>
    </p>
  </div>
</div>
</div>
<br>
<h3>Some key points</h3>
<hr>
<br>
<h5>We use j variable before starting inner loop because every time we want j start from 1 when comes out from inner loop.</h5>
<br>
<h5>We use <b>'end'</b> so that ineer loop come in same line .</h5>
<br>
<h5>We use<b>'end'</b> in ineer loop so that all rocks come in same line .</h5>
<br>
<h5>In last we use <b>print()</b> so, that after completing one outer loop we come in next line.</h5>
<br>
<hr>
<h2>2. <b> for loop</b></h2>
<hr>
<br>
<h5> <b>for </b>loop work with sequence</h5>
<br>
<h5>A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 1<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=['Nanocoder',65,2.5]</h5>
<h5>for i in x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(i)</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Nanocoder</h5>
    <h5>65</h5>
    <h5>2.5</h5>
    </p>
  </div>
</div>
</div>
<br>
<h3>Some key points</h3>
<hr>
<br>
<h5>In this i is a iterable variable.</h5>
<br>
<h5> <b> i </b> variable refers to a each element in a list or in a string.</h5>
<br>
<h5> In place of x we can put directly list, string,tuple,set.</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 2<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=nanocoder</h5>
<h5>for i in x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(i)</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>N</h5>
    <h5>a</h5>
    <h5>n</h5>
    <h5>o</h5>
    <h5>c</h5>
    <h5>o</h5>
    <h5>d</h5>
    <h5>e</h5>
    <h5>r</h5>
    </p>
  </div>
</div>
</div>
<br>
<hr>
<h2>3. <b> for else</b></h2>
<hr>
<br>
<h5>We use <b>for else</b> loop when our for loop will not give any output then else part will execute which shows that our for loop will not giv eany output .</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example <h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=[12,16,18,21,26,56]</h5>
<h5>for i in x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if i%5==0:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(i)</h5>
<h5>else:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('Not Found')</h5>

  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Not Found</h5>
    </p>
  </div>
</div>
</div>
<br>
<h2><center><b>BREAK , CONTINUE and PASS</b></center></h2>
<hr>
<br>
<h2>1. <b> break</b></h2>
<hr>
<br>
<h5> We use <b>break</b> to just come out of the loop.</h5>
<br>
<div class="card">
  <div class="card-header">
   <h3> Example 1<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=int(input('Enter the no of candies'))</h5>
<h5>i=1</h5>
<h5>while i<=x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('candy')</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i=i+1</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Enter the no of candies 5</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    </p>
  </div>
</div>
</div>
<h5><b>Note- </b> In the above example user can take any no of candy. But now the situation is come that we have a fix no of candy but user enter more candy to the available then we use <b>'break'</b></h5>
<div class="card">
  <div class="card-header">
   <h3> Example 2<h3>
  </div>
  <div class="card-body">
    <p class="card-text">
    <h5>available=3</h5>
<h5>x=int(input('Enter the no of candies'))</h5>
<h5>i=1</h5>
<h5>while i<=x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if i>available:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;break</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print('candy')</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i=i+1</h5>
<h5>print('By')</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>Enter the no of candies 10</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    <h5>candy</h5>
    <h5>By</h5>
    </p>
  </div>
</div>
</div>
<br>
<h2>2. <b> continue</b></h2>
<hr>
<br>
<h5> It is not come out to the loop .It is just skip the value or statement.</h5>
<div class="card">
  <div class="card-header">
   <h3> Example <h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>x=[1,2,3,4,5,6,7]</h5>
<h5>for i in x:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if i%2==0:</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;continue</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;print(i)</h5>
  </div>
  <div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">
    <h5>1</h5>
    <h5>3</h5>
    <h5>5</h5>
    <h5>7</h5>
    </p>
  </div>
</div>
</div>
<br>
<h2>3. <b> pass</b></h2>
<hr>
<br>
<h5>If you want to skip the function or block you can use pass.</h5>
<div class="card">
  <div class="card-header">
   <h3> Example <h3>
  </div>
  <div class="card-body">
    <p class="card-text">
<h5>def fun():</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pass</h5>
  </div>
  </div>
  <h5>We pass the function means no use in our code during compling. </h5>
</div>


<ul class="arrow">
    <a href="/query/preprocessing"><li class="prev"><span></span></li></a>
    <a href="/query/steps"><li class="next"><span></span></li></a>
</ul>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script>
      $(document).ready(function(){
      $("#sidebarCollapse").on('click',function(){
        setTimeout(function(){
      $("#sidebar").toggleClass('active');
    },500);
  });
       });
      $('#sidebar ul li').on('click', function () {
             $('#sidebar ul .active').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    {%endblock body %}