{% extends 'base.html' %}
{% load static %}
{% block title %} Courses {% endblock title %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
    <style> 
 @media screen and (max-width: 768px) {

            #sidebar{
              margin-top:-720px;
            }
          }
         
            .arrow{
              bottom:-318%;
            }
  </style> 

  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="wrapper" id="top">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>PYTHON</h3>
    </div>
    <ul class="lisst-unstyled components">
      <li class="">
        <a href="/query/introduction">INTRODUCTION </a>
      </li>
      <li class="">
        <a href="/query/pvariables">VARIABLES</a>
      </li>
      <li class="">
        <a href="/query/ptype">TYPE CONVERSION</a>
      </li>
      <li class="">
        <a href="/query/poperators">OPERATORS</a>
      </li>
      <li class="">
        <a href="/query/pconditional">CONDITIONAL STATEMENTS</a>
      </li>
      <li class="">
        <a href="/query/ploop">LOOPS</a>
      </li>
      <li class="">
        <a href="/query/pinput">INPUT</a>
      </li>
      <li class="active">
        <a href="/query/pstring">STRING</a>
      </li>
      <li class="">
        <a href="/query/plist">LIST</a>
      </li>
      <li class="">
        <a href="/query/pdictonary">DICTONARY</a>
      </li>
      <li class="">
        <a href="/query/ptuples">TUPLES</a>
      </li>
      <li class="">
        <a href="/query/pset">SET</a>
      </li>
      <li class="">
        <a href="/query/pfunctions">FUNCTIONS</a>
      </li>
      
    </ul>
  </nav>

<div class="content" data-spy="scroll" data-target="#sidebar" data-offset="0">
  <nav class="navbar navbar-expand lg navbar-light">
    <div class="container">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-right"></i>
        <span class="align-right">Contents</span>
        </button>
    </div>
  </nav>
<!-- <img src="{% static 'images/Dirty Data.png' %}"> -->
<h1 class="text-center"><heading>STRING<heading></h1>
<hr>

<br>
<h5>A string is a sequence of characters.</h5>
<br>
<h5>A string literals uses quotes 'hello' or "hello".</h5>
<br>
<h5>For string '+' means <b>concatenation</b></h5>
<br>
<h5>Whwn a string contains numbers, it is still s string.</h5>
<br>
<h5>We can convert number of a string  inot a number using <b>int()</b></h5>
<br>
<h2>String Library</h2>
<hr>
<h5>Python has a number of string functions which are in the string library.</h5>
<br>
<h5>These functions are already built into every string - we invoke them by appending the functions to the string varibale.</h5>
<br>
<h5>These functions do not modify the original string instead they return a new string that has been altered.</h5>
<br>
<h2>Functions</h2>
<hr>
<h3><b>1. len()<b></h3>
<h5>This function will give the length of the string.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <h3 class="card-header">Example</h3>
  <div class="card-body">
    <h5>s="Nano coder"</h5>
    <h5>print(len(s))</h5>
  </div>
</div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">10</p>
  </div>
</div>
<br>
<h3><b>2. lower()<b> </h3>
<h5>This function will convert the string into lowercase.</h5>
<br>
<h3>Syntax - <h5>lower(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">

    <h5>s="Nano Coder"</h5>
    <h5>x=s.lower()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
   
    <p class="card-text">nano coder</p>
  </div>
</div>
<br>
<h3><b>3. upper()<b></h3>
<h5>This function will conert the string into uppercase.</h5>
<br>
<h3>Syntax - <h5>len(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="Nano coder"</h5>
    <h5>x=s.upper()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">NANO CODER</p>
  </div>
</div>
<br>
<h3><b>4. capitalize()<b></h3>
<h5>This function will capitalize the first letter of string.</h5>
<br>
<h3>Syntax - <h5>capitalize(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="nanocoder"</h5>
    <h5>x=s.capitalize()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">Nanocoder</p>
  </div>
</div>
<br>
<h3><b>5. count()<b></h3>
<h5>The count() returns the number of times a specified value appears in the string.</h5>
<br>
<h3>Syntax - <h5>count(value,start,end)</h5></h3>
<br>
<h4>Parameter Values</h4>
<table class="table table-primary table-striped">
  <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">value</th>
      <td>Required. A String. The string to value to search for</td>
    </tr>
    <tr>
      <th scope="row">start</th>
      <td>Optional. An Integer. The position to start the search. Default is 0</td>
    </tr>
    <tr>
      <th scope="row">end</th>
      <td>Optional. An Integer. The position to end the search. Default is the end of the string</td>
    </tr>
  </tbody>
</table>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="Nanocoder is best website for coding practice. Nanocoder gives you a best experience."</h5>
    <h5>x=count("Nanocoder")</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">2</p>
  </div>
</div>
<br>
<h3><b>4. capitalize()<b></h3>
<h5>This function will capitalize the first letter of string.</h5>
<br>
<h3>Syntax - <h5>capitalize(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="nanocoder"</h5>
    <h5>x=s.capitalize()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">Nanocoder</p>
  </div>
</div>
<br>
<h3><b>4. capitalize()<b></h3>
<h5>This function will capitalize the first letter of string.</h5>
<br>
<h3>Syntax - <h5>capitalize(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="nanocoder"</h5>
    <h5>x=s.capitalize()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">Nanocoder</p>
  </div>
</div>
<br>
<h3><b>4. capitalize()<b></h3>
<h5>This function will capitalize the first letter of string.</h5>
<br>
<h3>Syntax - <h5>capitalize(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="nanocoder"</h5>
    <h5>x=s.capitalize()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">Nanocoder</p>
  </div>
</div>
<br>
<h3><b>4. capitalize()<b></h3>
<h5>This function will capitalize the first letter of string.</h5>
<br>
<h3>Syntax - <h5>capitalize(string_name)</h5></h3>
<div class="card">
  <div class="card-header">
   <h3> Example<h3>
  </div>
  <div class="card-body">   
    <h5>s="nanocoder"</h5>
    <h5>x=s.capitalize()</h5>
    <h5>print(x)</h5>
  </div>
</div>
<div class="card" style="margin-bottom:80px;">
  <h3 class="card-header">Output</h3>
  <div class="card-body">
    <p class="card-text">Nanocoder</p>
  </div>
</div>
<br>
</div>

<ul class="arrow">
    <a href="/query/preprocessing"><li class="prev"><span></span></li></a>
    <a href="/query/steps"><li class="next"><span></span></li></a>
</ul>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <script>
      $(document).ready(function(){
      $("#sidebarCollapse").on('click',function(){
        setTimeout(function(){
      $("#sidebar").toggleClass('active');
    },500);
  });
       });
      $('#sidebar ul li').on('click', function () {
             $('#sidebar ul .active').removeClass('active');
            $(this).addClass('active');
        });
    </script>
    {%endblock body %}