{% extends 'base.html' %}
{% load static %}
{%block title %} Tutorials {% endblock title %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
<div class=" tut text-center mt-4">
  <h2>Need help?</h2>
  <h2 class="text-center">Here is our Tutorials junction!<img src="{% static 'images/idea.png' %}" alt=""></h2>
<div class="container text-left">
  <div class="row justify-content-center">
<div class="col-lg-6 col-sm-12 col-md-12 col-12">
  <div class="card shadow">
      <div class="card-title mx-3 py-2">
         Web Development
      </div> 
       <div class="card-body align-items-stretch">
        <div class="row justify-content-center">
          <div class="col-md-2 col-sm-4 col-6 text-center align-items-stretch">
              <div class="photo-box">
                 <a href="htmldoc.html"><img class="img-fluid" src="{%static 'images/html.png'%}" alt="image"><p>HTML</p></a>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{% static 'images/css.png' %}" alt="image"><p>CSS</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center align-items-stretch">
            <div class="photo-box">  
                <a href="#"><img class="img-fluid" src="{%static 'images/Javascript.png'%}" alt="image"><p>JavaScript</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/php.png'%}" alt="image"><p>PHP</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
                <a href="#"><img class="img-fluid" src="{%static 'images/MySQL.png'%}" alt="image"><p>MySQL</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/angularjs4.png'%}" alt="image"><p>AngularJS4</p></a>
            </div>
          </div>

      </div>
  </div>
  <span>
  <a href="/tutorials/moretutorials1"class="card-link float-right px-1">view more</a>
  </span>
</div>
</div>
<div class="col-lg-6 col-sm-12 col-md-12 col-12">
  <div class="card shadow">
      <div class="card-title mx-3 py-2">
         Web Development
      </div> 
       <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                 <a href="/tutorials/htmldoc"><img class="img-fluid" src="{%static 'images/html.png'%}" alt="image"><p>HTML</p></a>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{% static 'images/css.png' %}" alt="image"><p>CSS</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
                <a href="#"><img class="img-fluid" src="{%static 'images/Javascript.png'%}" alt="image"><p>JavaScript</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/php.png'%}" alt="image"><p>PHP</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
               {% load static %}
                <a href="#"><img class="img-fluid" src="{%static 'images/MySQL.png'%}" alt="image"><p>MySQL</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/angularjs4.png'%}" alt="image"><p>AngularJS4</p></a>
            </div>
          </div>

      </div>
  </div>
  <span>
  <a href="/tutorials/moretutorials2"class="card-link float-right px-1">view more</a>
  </span>
</div>
</div>
<div class="col-lg-6 col-sm-12 col-md-12 col-12">
  <div class="card shadow">
      <div class="card-title mx-3 py-2">
         Web Development
      </div> 
       <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                 <a href="htmldoc.html"><img class="img-fluid" src="{%static 'images/html.png'%}" alt="image"><p>HTML</p></a>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{% static 'images/css.png' %}" alt="image"><p>CSS</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
                <a href="#"><img class="img-fluid" src="{%static 'images/Javascript.png'%}" alt="image"><p>JavaScript</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/php.png'%}" alt="image"><p>PHP</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
               {% load static %}
                <a href="#"><img class="img-fluid" src="{%static 'images/MySQL.png'%}" alt="image"><p>MySQL</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/angularjs4.png'%}" alt="image"><p>AngularJS4</p></a>
            </div>
          </div>

      </div>
  </div>
  <span>
  <a href="/tutorials/moretutorials3"class="card-link float-right px-1">view more</a>
  </span>
</div>
</div>

<div class="col-lg-6 col-sm-12 col-md-12 col-12">
  <div class="card shadow">
      <div class="card-title mx-3 py-2">
         Web Development
      </div> 
       <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                 <a href="htmldoc.html"><img class="img-fluid" src="{%static 'images/html.png'%}" alt="image"><p>HTML</p></a>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
              <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{% static 'images/css.png' %}" alt="image"><p>CSS</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
                <a href="#"><img class="img-fluid" src="{%static 'images/Javascript.png'%}" alt="image"><p>JavaScript</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/php.png'%}" alt="image"><p>PHP</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">  
               {% load static %}
                <a href="#"><img class="img-fluid" src="{%static 'images/MySQL.png'%}" alt="image"><p>MySQL</p></a>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 text-center">
            <div class="photo-box">
                <a href="#"><img class="img-fluid" src="{%static 'images/angularjs4.png'%}" alt="image"><p>AngularJS4</p></a>
            </div>
          </div>

      </div>
  </div>
  <span>
  <a href="/tutorials/moretutorials4"class="card-link float-right px-1">view more</a>
  </span>
</div>
</div>
     



    </div>
  </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
 


    {%endblock body %}