{% extends 'base.html' %}
{%block title %} Tutorials {% endblock title %}
{% load static %}
{% block tutorialsactive %} active {% endblock tutorialsactive %}
{%block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/apache_camel/index.htm" title="Learn Apache Camel"><img src="{%static 'images/ansible.png'%}" alt="Learn Apache Camel"/></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/ansible/index.htm" title="Learn Ansible">
                <img src="{%static 'images/ansible.png'%}" alt="Learn Ansible"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/apache_camel/index.htm" title="Learn Apache Camel">
                    <img src="{%static 'images/ansible.png'%}" alt="Learn Apache Camel"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="" title="Learn Apache Camel">
                    <img src="{%static 'images/ansible.png'%}" alt="Learn Apache Camel"/></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/ansible/index.htm" title="Learn Ansible">
                <img src="{%static 'images/ansible.png'%}" alt="Learn Ansible"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/apache_camel/index.htm" title="Learn Apache Camel">
                    <img src="{%static 'images/ansible.png'%}" alt="Learn Apache Camel"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/ansible/index.htm" title="Learn Ansible">
                <img src="{%static 'images/ansible.png'%}" alt="Learn Ansible"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="course-box3 cont">
                <a href="/apache_camel/index.htm" title="Learn Apache Camel">
                    <img src="{%static 'images/ansible.png'%}" alt="Learn Apache Camel"/>
                </a>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
{%endblock body %}